ion-toolbar {
  --background: var(--ion-color-primary);
}

ion-icon {
  margin-right: 6px;

  width: 30px;
  height: 30px;

  padding: 4px 0;

  color: #EAEAEA;
}

ion-title {
  color: #EAEAEA;
}

.gif-container {
  width:100%;
  height:100%;
  position:relative;
}

.winner-content {
  background-color: var(--ion-color-primary);

  h2 {
    padding: 1rem;
    color: #FFFFFF;
  }
}
