<div class="wrapper">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-icon name="arrow-back-outline" (click)="dismiss()"></ion-icon>
      </ion-buttons>
      <ion-title>Fim da partida</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="gif-container">
    <h3 class="ion-text-center">Vencedor</h3>
    <iframe src="https://giphy.com/embed/U5JYUCOm6j0X858NoV" width="100%" height="100%" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </div>
  <p>
    <a href="https://giphy.com/gifs/trophy-U5JYUCOm6j0X858NoV"></a>
  </p>
  <div class="winner-content">
    <h2 class="ion-text-center">
      Parabéns {{ participant?.name }}
    </h2>
  </div>
  <div class="gif-container">
    <h3 class="ion-text-center">Perdedores</h3>
    <iframe src="https://giphy.com/embed/XHyp1lYtfX4N0NNRiS" width="100%" height="100%" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </div>
  <p>
    <a href="https://giphy.com/gifs/bduckofficial-cute-XHyp1lYtfX4N0NNRiS"></a>
  </p>
</div>
